* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0c4a6e;
}
:root {
  --grid-cols: 10;
  --grid-rows: 10;
}
#main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin-top: 3em;
}
#info {
  text-align: center;
  grid-column: 1 / span 2;
}

#playerGrid {
  display: grid;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  width: 500px;
  height: 500px;
}
#computerGrid {
  display: grid;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  width: 500px;
  height: 500px;
}
#title {
  margin-top: 3em;
  text-align: center;
  color: white;
}
